{% extends "base.html" %}
{% block content %}

<h3>Drive Details</h3>

<p><b>Drive ID:</b> {{ drive.drive_uid }}</p>

<p><b>Company:</b> {{ drive.company_name }}</p>

<p><b>Job Title:</b> {{ drive.job_title }}</p>

<p><b>Description:</b> {{ drive.job_description }}</p>

<p><b>Eligibility:</b> {{ drive.eligibility }}</p>

<p><b>Deadline:</b> {{ drive.deadline }}</p>

<p><b>Status:</b> {{ drive.status }}</p>

{% if drive.is_deleted == 1 %}
<p><b>Drive Status:</b> Deleted</p>
{% else %}
<p><b>Drive Status:</b> Active</p>
{% endif %}

<br>

<a href="/admin/drives" class="btn btn-secondary">
Back
</a>

{% endblock %}