{% extends "base.html" %}
{% block content %}

<h3>All Drives</h3>

<table class="table table-bordered">
<tr>
<th>Drive ID</th>
<th>Company</th>
<th>Job</th>
<th>Status</th>
<th>Action</th>
</tr>

{% for d in drives %}
<tr>
<td>{{ d.drive_uid }}</td>
<td>{{ d.company_name }}</td>
<td>{{ d.job_title }}</td>
<td>{{ d.status }}</td>
<td>

{% if d.status == "Pending" %}

<a href="/admin/approve_drive/{{ d.id }}" 
class="btn btn-success btn-sm">
Approve
</a>

<a href="/admin/reject_drive/{{ d.id }}" 
class="btn btn-danger btn-sm">
Reject
</a>

{% elif d.status == "Approved" %}

<span class="badge bg-success">
Approved
</span>

{% elif d.status == "Closed" %}

<span class="badge bg-dark">
Closed
</span>

{% endif %}

</td>
</tr>
{% endfor %}

</table>

{% endblock %}