{% extends "base.html" %}
{% block content %}

<h3>All Applications</h3>

<table class="table table-bordered">
<tr>
<th>Application ID</th>
<th>Drive ID</th>
<th>Company</th>
<th>Student ID</th>
<th>Student</th>
<th>Role</th>
<th>Status</th>

</tr>

{% for a in applications %}
<tr>
<td>{{ a.application_uid }}</td>
<td>{{ a.drive_uid }}</td>
<td>{{ a.company_name }}</td>
<td>{{ a.student_uid }}</td>
<td>{{ a.name }}</td>
<td>{{ a.job_title }}</td>
<td>{{ a.status }}</td>
</tr>
{% endfor %}

</table>
<a href="/admin" class="btn btn-secondary mt-3">
Back
</a>
{% endblock %}