{% extends "base.html" %}
{% block content %}

<h3>Company Registration</h3>

<form method="POST">
    <input type="text" name="company_name" placeholder="Company Name" class="form-control mb-2" required>
    <input type="text" name="hr_contact" placeholder="HR Contact" class="form-control mb-2" required>
    <input type="email" name="email" placeholder="Email" class="form-control mb-2" required>
    <input type="password" name="password" placeholder="Password" class="form-control mb-2" required>
    <input type="text" name="website" placeholder="Website" class="form-control mb-2">
    <div class="mb-3">
<label>Company Description</label>

<textarea name="description"
class="form-control"
rows="4"
required></textarea>

</div>
    <button class="btn btn-success">Register</button>
</form>

{% endblock %}